@{
    ViewData["Title"] = "Página Inicial - ";
}

<h1 class="text-center mb-4"> Página somente Admin</h1>

<p class="text-center">
    Página restrita somente para Admin. Clique no botão abaixo para voltar à tela inicial
</p>

<a asp-controller="Home" asp-action="Index" class="btn btn-sm btn-primary">Voltar à página Inicial</a>